{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section w-75">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p>{{ user.sailparticipant.role }}</p>
            </div>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Account</legend>
                <div class="w-50">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
