{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-8">
            {% for course in courses %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <span class="mr-2">By</span>
                            <a class="mr-2" href="#">{{ course.teacher }}</a>
                            <!-- <small class="text-muted">Created on {{ course.time_created|date:"F d, Y" }}</small> -->
                            <small class="text-muted">Course length: {{ course.course_length }} minutes</small>
                            {% if user.student %}
                                <form method="POST" style="display:inline">
                                    {% csrf_token %}
                                    {% if course in user.student.course_set.all %}
                                        <button class="btn btn-success btn-sm ml-3" type="submit" name="{{ course.id }}" value="Deregister">Deregister</button>
                                    {% else %}
                                        <button class="btn btn-success btn-sm ml-3" type="submit" name="{{ course.id }}" value="Register">Register</button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                        <h2><a class="article-title" href="{% url 'courses_detail' course.id %}">{{ course.course_name }}</a></h2>
                        <p class="article-content">{{ course.short_description }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="col">
            <div class="content-section">
                <h3>Filter Classes</h3>
                <form method="GET">
                    {{ tag_form|crispy }}
                    <button class="btn btn-outline-primary" type="submit">Filter</button>
                </form>
            </div>
          </div>
    </div>
{% endblock content %}
