{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% load courses_extras %}
{% block content %}
    <div class="row">
        <div class="col-8">
            {% for course in courses %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <span class="mr-2">By</span>
                            <a class="mr-2" href="#">{{ course.teacher }}</a>
                            <!-- <small class="text-muted">Created on {{ course.time_created|date:"F d, Y" }}</small> -->
                            <small class="text-muted">Course length: {{ course.course_length }} minutes</small>
                            {% if user.student %}
                                <form method="POST" style="display:inline">
                                    {% csrf_token %}
                                    {% if course in user.student.course_set.all %}
                                        <button class="btn btn-success btn-sm ml-3" type="submit" name="{{ course.id }}" value="Deregister">Deregister</button>
                                    {% else %}
                                        <button class="btn btn-success btn-sm ml-3" type="submit" name="{{ course.id }}" value="Register">Register</button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                        <h2><a class="article-title" href="{% url 'courses_detail' course.id %}">{{ course.course_name }}</a></h2>
                        <p class="article-content">{{ course.short_description }}</p>
                    </div>
                </article>
            {% endfor %}
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace request 'page' 1 %}">First</a>
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">Last</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col">
            <div class="content-section">
                <h3>Filter Classes</h3>
                <form method="GET">
                    {{ tag_form|crispy }}
                </form>
                <a class="btn btn-outline-primary mt-1" href="{% url 'courses_list' %}">Clear Filters</a>
            </div>
          </div>
    </div>
{% endblock content %}
