{% extends "public/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ course.teacher }}</a>
                <small class="text-muted">Time: {{ course.start_time|date:"H:i" }} - {{ course.start_time|add:course.course_duration|date:"H:i" }}</small>
                {% if course.teacher == user.teacher %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'courses_update' course.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'courses_delete' course.id %}">Delete</a>
                    </div> 
                {% endif %}
                {% if user.student %}
                    <form method="POST" style="display:inline">
                        {% csrf_token %}
                        {% if course in user.student.course_set.all %}
                            <button class="btn btn-success btn-sm ml-3" type="submit" name="{{ course.id }}" value="Unregister">Unregister</button>
                        {% else %}
                            <button class="btn btn-success btn-sm ml-3" type="submit" name="{{ course.id }}" value="Register">Register</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            <h2 class="article-title">{{ course.course_name }}</h2>
            <p class="article-content">{{ course.description }}</p>
            <small class="text-muted">Tags: {{ course.tags.all|join:", " }}</small>
        </div>
    </article>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'courses_list' %}">Back to Courses</a>
        </small>
    </div>
{% endblock content %}
