{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Interest Form</legend>
                <div class="w-100">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock content %}
