{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% load qr_tags %}
{% block content %}
    <div class="content-section w-75">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                {% if user.student.admitted_student %}
                    <p>Admitted Student</p>
                {% else %}
                    <p>{{ user.role }}</p>
                {% endif %} 
            </div>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Account</legend>
                <div class="w-50">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit" name="action" value="Update">Update</button>
                <button class="btn btn-outline-danger" type="submit" name="action" value="Delete" onclick="return confirm('Are you sure? This will permanently delete your account!')">Delete</button>
            </div>
        </form>
        
        <legend class="border-bottom">My Forms</legend>
        <small class="text-muted">You will need to sign a medical, participant, and photo form.</small>
        <div class="my-3">
            <a class="btn btn-outline-primary" href="{% url 'users_forms' %}">Click here to sign</a>
        </div>
        
        {% if user.student %}
            <legend class="border-bottom">My Sail ID</legend>
            <small class="text-muted">Please display this QR Code to Sail Staff when checking in.</small>
            <div class="mt-3">
                {% qr_from_mail user.email %}
            </div>
        {% endif %}

        {% if user.teacher %}
            <legend class="border-bottom">My Courses</legend>
            <small class="text-muted">Click on a course to view, update, or delete it.</small>
            <div class="mt-3">
                {% for course in user.teacher.course_set.all %}
                    <a class="btn btn-outline-info" href="{% url 'courses_detail' course.id %}">{{ course }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
