{% extends "public/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2 class="article-title" style="display:inline">{{ course.course_name }}</h2>
                <span class="ml-1 float-right">by {{ course.teacher }}</span>
                {% if course.teacher == user.teacher %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'courses_update' course.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'courses_delete' course.id %}">Delete</a>
                    </div> 
                {% endif %}
                {% if user.student %}
                    <br>
                    {% for section in course.section_set.all %}
                        <div class="mr-3 mt-2 mb-1">
                            <small class="text-muted"><strong>Time:</strong> {{ section.start_time|date:"H:i" }} - {{ section.start_time|add:course.course_duration|date:"H:i" }}, </small>
                            {% if section.course.capacity_limit is not None and section.course.capacity_limit < section.room.max_capacity %}
                                <small class="text-muted"><strong>Seats Filled:</strong> {{ section.students.all.count }} of {{ section.course.capacity_limit }}</small>
                            {% else %}
                                <small class="text-muted"><strong>Seats Filled:</strong> {{ section.students.all.count }} of {{ section.room.max_capacity }}</small>
                            {% endif %}
                            <form method="POST" style="display:inline">
                                {% csrf_token %}
                                {% if section in user.student.section_set.all %}
                                    <button class="btn btn-success btn-sm ml-2" type="submit" name="{{ section.id }}" value="Unregister">Unregister</button>
                                {% else %}
                                    <button class="btn btn-success btn-sm ml-2" type="submit" name="{{ section.id }}" value="Register">Register</button>
                                {% endif %}
                            </form>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <p class="article-content mt-2 mb-2">{{ course.description }}</p>
            {% if course.prior_knowledge == '' %}
                <small class="text-muted"><strong>Prior Knowledge:</strong> None</small>
            {% else %}
                <small class="text-muted"><strong>Prior Knowledge:</strong> {{ course.prior_knowledge }}</small>
            {% endif %}
            <br>
            <small class="text-muted"><strong>Tags:</strong> {{ course.tags.all|join:", " }}</small>
        </div>
    </article>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'courses_list' %}">Back to Courses</a>
        </small>
    </div>
{% endblock content %}
