{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if course %}
                    <legend class="border-bottom mb-4">Update Course</legend>
                {% else %}
                    <legend class="border-bottom mb-4">Create Course</legend>
                {% endif %}
                <div class="w-100">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                {% if course %}
                    <button class="btn btn-outline-primary" type="submit">Update</button>
                {% else %}
                    <button class="btn btn-outline-primary" type="submit">Create</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
