{% extends "public/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
    {{ form.media }}
{% endblock head %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Send Email</legend>
            <div class="w-75">
                {{ form|crispy }}
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit" onclick="return confirm('Please confirm to send email')">Send</button>
        </div>
    </form>
{% endblock content %}
